body {
    font-family: 'Sora', sans-serif;
  }
  
  header {
    background-color: var(--backgroundHomeColor);
    color: #FFF;
    padding-bottom: 1.5rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  
  nav button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
  }
  
  #login {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #login div {
    display: flex;
    align-items: center;
  }
  
  #login img {
    width: 26px;
    margin-right: 8px;
  }
  
  #lineBetween {
    margin: 0 4px;
    font-size: 9px;
  }
  
  nav button img {
    width: 100%;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  #titulo {
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.9rem;
    margin: auto;
    left: 0;
    right: 0;
  }
  
  #titulo img {
    width: 60px;
    padding: 0 5px;
  }
  
  aside {
    position: absolute;
    top: 0;
    background-color: #1E1E1E;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 370px;
    height: 280px;
    border-radius: 0 0 10px 0;
    display: none;
    transition: all 0.2s ease-in-out;
    z-index: 2;
  }
  
  aside button {
    background: none;
    border: none;
    position: absolute;
    right: 1rem;
    top: 2.6rem;
  }
  
  aside a {
    color: #FFF;
    transition: all 0.2s ease-in;
  }
  
  aside a:hover {
    color: var(--brownContainer);
  }
  
  aside ul li {
    margin-top: 2rem;
  }
  
  .linkPagesButton{
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid #000;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
  }
  
  #modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #1e1e1e88;
    top: 0;
    display: none;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    z-index: 1;
  }
  
  #modalLogin {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 750px;
    height: 85vh;
    background-color: #1E1E1E;
    border-radius: 10px;
    color: #FFF;
    transition: all 1s ease-in-out;
    position: relative;
  }
  
  #closeModal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background: none;
    border: none;
  } 
  
  #icones {
    display: flex;
    flex-direction: column;
    background-color: #838183;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
  }
  
  #icones img{
    width: 50px;
    padding: 10px;
    border-radius: 100px;
    background-color: #000;
  }
  
  #closeModal img {
    background: #838383;
  }
  
  #icones div {
    margin: 0.5rem 0 0 3.8rem;
  }
  
  #loginModal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #loginModal h3, #loginModal input, #loginModal button {
    margin-top: 1.3rem;
  }
  
  #loginModal input {
    padding: 15px 12px;
    color: #FFF;
    width: 350px;
    border-radius: 20px;
    border: none;
    background-color: #000;
  }  
  
  #loginModal p {
    margin-top: 1.5rem;
    font-weight: lighter;
    opacity: 0.6;
  }
  
  #loginModal button {
    background-color: var(--lightBlueContainer);
  }
  
  #loginModal button + button {
    margin-top: 1.5rem;
    background-color: var(--buttonBackground);
  }
  
  footer {
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    background-color: var(--backgroundHomeColor);
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1rem 0;
  }
  
  #footerLogo {
    display: flex;
    align-items: center;
  }
  
  #footerLogo img {
    width: 40px;
  }
  
  #footerLogo span {
    font-weight: bolder;
    font-size: 16px;
    color: #FFF;
  }
  
  footer a {
    color: #FFF;
    margin-top: 0.9rem;
  }
  footer div + a {
    margin-top: 2rem;
  }
  
  footer a:visited {
    color: #FFF;
  }
  
  #pageInfo {
    width: 100%;
    background-color: var(--lightBlueContainer);
    position: relative;
    z-index: 0;
  }
  
  #pageInfo div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    padding: 1rem 0 1.5rem 0;
  }
  
  #backToTrails img{
    rotate: 180deg;
  }

  #backToTrails span {
    margin-left: 0.4rem;
    color: #000;
    transition: all 0.4s ease-in-out;
  }

  #backToTrails {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    width: 240px;
  }

  #backToTrails span:hover {
    color: var(--lightBlueContainer);
  }

  h1 {
    text-align: center;
    margin-top: 1.5rem;
  }

/* ======================== Conteúdo da página =========================================== */

#trailLogoIntro {
    width: 90%;
    max-width: 800px;
    height: 240px;
    background-image: url('../Images/trails/algoritmos.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3.5rem auto;
    border-radius: 15px;
}

.explanation {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: auto;
    align-items: center;
}

.explanation h2, .explanation h3 {
    text-align: center;
    margin: 4rem 0 1.4rem 0;
}

.explanation img {
    max-width: 300px;
    margin-top: 2rem;
}

#materials {
    margin-top: 3rem;
}

#files {
    display: flex;
    margin: 1.5rem auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem 0.8rem;
}

#physiqueMaterials, #videoMaterials {
  max-width: 800px;
  margin: auto;
}

.filesContent img{
    width: 100px;
}

.filesContent {
  color: #000;
}

.filesContent div img + p {
  margin-top: 10px;
}

#physiqueMaterials h3, #videoMaterials h3 {
  margin: 0 0 4rem 1rem;
}

#videoMaterials {
  margin-top: 6rem;
}

.videoContent {
  margin-bottom: 3rem;
}

.videoContent p {
  margin: 2rem 0 0 1rem;
}

.videoContent p + p {
  margin: 1.5rem 0 0 1rem;
}

@media screen and (max-width: 580px) {
  #login div {
    display: none;
  }
}
