:root {
    --backgroundHomeColor: #304076;
    --lightBlueContainer: #1EA0D1;
    --redContainer: #FB3535;
    --purpleContainer: #D376EA;
    --brownContainer: #D1AF57;
    --yellowContainer: #EDB604;
    --buttonBackground: #63C770;
    --middlePageContainer: #5da7db;
}