:root {
    --backgroundHomeColor: #304076;
    --lightBlueContainer: #1EA0D1;
    --redContainer: #FB3535;
    --purpleContainer: #D376EA;
    --brownContainer: #D1AF57;
    --buttonBackground: #63C770;
    --middlePageContainer: #5da7db;
}

body {
    font-family: 'Sora', sans-serif;
}

header {
    background-color: var(--backgroundHomeColor);
    color: #FFF;
    padding-bottom: 12rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

nav button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

#login {
    display: flex;
    align-items: center;
}

#login img {
    width: 26px;
    margin-right: 8px;
}

#lineBetween {
    margin: 0 4px;
    font-size: 9px;
}

nav button img {
    width: 100%;
}

button:hover {
    cursor: pointer;
}

#titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 600px;
    min-width: 300px;
    margin: 4rem auto 0 auto;
    align-items: center;
}

#titulo img {
    width: 130px;
    padding: 0 5px;
}

h1 {
    font-size: 5rem;
    text-shadow: 0px 5px 10px #000;
}

header p {
    text-align: center;
    margin-top: 3rem;
    font-weight: bolder;
    font-size: 25px;
}

#containersApresentacao {
    position: relative;
    display: flex;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    top: -7rem;
    gap: 35px;
}

.container {
    padding: 14px 0px;
    border-radius: 15px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 7px 0px #000;
}

.container img{
    width: 60%;
}

.container p {
    color: #FFF;
    font-weight: 300;
    margin-top: 10px;
    font-size: 10px;
}

.container p + p {
    font-weight: bolder;
    margin-top: 0;
    font-size: 14px;
}

.lightBlueContainer {
    background-color: var(--lightBlueContainer);
}

.redContainer { 
    background-color: var(--redContainer);
}

.purpleContainer { 
    background-color: var(--purpleContainer);
}

.brownContainer { 
    background-color: var(--brownContainer);
}

.intro {
    width: 95%;
    max-width: 800px;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.intro img {
    width: 200px;
}

.intro h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 3rem;
}

#contentContainers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 900px;
    width: 95%;
    margin: 4rem auto 0 auto;
    gap: 10px;
}

.contentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #82b7f380;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px #000;
    transition: all 0.1s ease-in;
    cursor: default;
}

.contentInfo:hover {
    box-shadow: 0px 0px 3px 1px #000;
}

.contentInfo img {
    width: 100%;
    max-width: 150px;
}

.contentInfo p {
    font-weight: bolder;
    margin-top: 1.4rem;
    text-align: center;
}

.contentInfo p + p {
    font-weight: 400;
    margin-top: 0.4rem;
    padding: 0 18px;
}

#introducao a button {
    background-color: var(--buttonBackground);
    margin-top: 5rem;
}

.linkPagesButton{
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid #000;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    justify-content: space-around;
    transition: all 0.2s ease-in-out;
}

#introducao a button:hover {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.55);
}

#centroPagina {
    margin-top: 10rem;
    background-color: var(--middlePageContainer);
    padding: 3rem 0;
}

#centroPagina h2 {
    color: #FFF;
}

.aboutWebContainer {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 700px;
    margin: 7rem auto 0 auto;
    justify-content: space-between;
}

.aboutWebContainer img {
    width: 30%;
    max-width: 120px;
}

.aboutWebContainer p {
    width: 60%;
    font-size: 15px;
    text-align: justify;
}

.aboutWebContainer + .aboutWebContainer {
    flex-direction: row-reverse;
}

#centroPagina .linkPagesButton {
    background-color: var(--brownContainer);
    margin-top: 9rem;
}

#faculdade {
    margin-top: 8rem;
}

#faculdade .intro div {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

#faculdade h2 {
    margin-top: 0;
}

#faculdade span {
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 4px;
    color: var(--redContainer);
}

#college {
    width: 100%;
    margin: auto;
    max-width: 600px;
}

#aboutCollege {
    padding: 24px 30px;
    margin: 4rem auto;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 16px;
    background-color: var(--redContainer);
    color: #FFF;
    text-align: justify;
}

#college div + p {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#imagesCollege {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

#imagesCollege img {
    max-width: 100px;
}

#college button {
    width: 100%;
    max-width: 600px;
    background-color: var(--redContainer);
    color: #FFF;
    border: none;
    font-size: 16px;
    padding: 17px;
    border-radius: 8px;
}

