body {
  font-family: 'Sora', sans-serif;
}

header {
  background-color: var(--backgroundHomeColor);
  color: #FFF;
  padding-bottom: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

nav button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
}

#login {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#login img {
  width: 26px;
  margin-right: 8px;
}

#lineBetween {
  margin: 0 4px;
  font-size: 9px;
}

nav button img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}

#titulo {
  display: flex;
  width: 140px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.9rem;
  margin: auto;
  left: 0;
  right: 0;
}

#titulo img {
  width: 60px;
  padding: 0 5px;
}

aside {
  position: absolute;
  top: 0;
  background-color: #1E1E1E;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 370px;
  height: 280px;
  border-radius: 0 0 10px 0;
  display: none;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

aside button {
  background: none;
  border: none;
  position: absolute;
  right: 1rem;
  top: 2.6rem;
}

aside a {
  color: #FFF;
  transition: all 0.2s ease-in;
}

aside a:hover {
  color: var(--brownContainer);
}

aside ul li {
  margin-top: 2rem;
}

.linkPagesButton{
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid #000;
  font-weight: bolder;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  justify-content: space-around;
  transition: all 0.2s ease-in-out;
}

#modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #1e1e1e88;
  top: 0;
  display: none;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: 1;
}

#modalLogin {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 750px;
  height: 85vh;
  background-color: #1E1E1E;
  border-radius: 10px;
  color: #FFF;
  transition: all 1s ease-in-out;
  position: relative;
}

#closeModal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background: none;
  border: none;
} 

#icones {
  display: flex;
  flex-direction: column;
  background-color: #838183;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}

#icones img{
  width: 50px;
  padding: 10px;
  border-radius: 100px;
  background-color: #000;
}

#closeModal img {
  background: #838383;
}

#icones div {
  margin: 0.5rem 0 0 3.8rem;
}

#loginModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginModal h3, #loginModal input, #loginModal button {
  margin-top: 1.3rem;
}

#loginModal input {
  padding: 15px 12px;
  color: #FFF;
  width: 350px;
  border-radius: 20px;
  border: none;
  background-color: #000;
}  

#loginModal p {
  margin-top: 1.5rem;
  font-weight: lighter;
  opacity: 0.6;
}

#loginModal button {
  background-color: var(--lightBlueContainer);
}

#loginModal button + button {
  margin-top: 1.5rem;
  background-color: var(--buttonBackground);
}

footer {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  background-color: var(--backgroundHomeColor);
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

#footerLogo {
  display: flex;
  align-items: center;
}

#footerLogo img {
  width: 40px;
}

#footerLogo span {
  font-weight: bolder;
  font-size: 16px;
  color: #FFF;
}

footer a {
  color: #FFF;
  margin-top: 0.9rem;
}
footer div + a {
  margin-top: 2rem;
}

footer a:visited {
  color: #FFF;
}

#pageInfo {
  width: 100%;
  background-color: var(--lightBlueContainer);
  position: relative;
  z-index: 0;
}

#pageInfo div{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  padding: 2rem 0;
}

#pageInfo img{
  max-width: 70px;
  position: absolute;
  margin-left: 2rem;
  left: 0;
}

/* ======================== Contúdo da página =========================================== */

#pageContent{
  padding: 6rem 0 0 0;
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 85px 0;
}

.pageContentItems{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.pageContentItems h3{
  font-size: 25px;
}

.trails{
  color: #000000;
  padding: 20px 25px;
  width: 100%;
  min-height: 200px;
  border-radius: 30px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.452);
}

.begginerTrail{
  background-color: var(--middlePageContainer);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.begginerTrail li + li{
  margin-top: 0.6rem;
}

.begginerTrail #begginerTrailImgs{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.begginerTrail #begginerTrailImgs img{
  width: 100px;
  height: auto;
}

.intermediateTrail{
  background-color: var(--redContainer);
}

.advancedTrail{
  background-color: var(--purpleContainer);
}

.intermediateTrail, .advancedTrail{
  font-size: 20px;
  text-decoration:underline black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 3rem 0 1rem 0;
}